body {
    background-image: url(img/IMG-20250320-WA0006.jpg);
    background-size: cover;
    overflow-x: hidden;
}
.b1 {
    position: relative;
    top: 10px;
    left: 20px;
}
#t1 {
    color: white;
    font-size: 25px;
    text-shadow: 0px 0px 10px white;
    position: absolute;
    left: 90px;
    top: 10px;
}
#t1:hover {
    color: rgb(255, 183, 10);
    text-shadow: 0px 0px 10px rgb(255, 183, 10);
}
.img-1 {
    width: 80px;
}
.icon {
    width: 60px;
    position: absolute;
    top: 25px;
    left: 1280px;
}
.icon:hover {
    transform: scale(1.1);
}
.icon:active {
    transform: scale(1.2);
}
header {
    position: relative;
    left: 320px;
    top: -50px;
}
a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    transition: .5s ease-in-out;
}
a:hover {
    color: red;
    text-shadow: 0px 0px 10px red;
}
.a4 {
    position: absolute;
    left: 330px;
}
.a3 {
    position: absolute;
    left: 190px;
}
.a2 {
    position: absolute;
    left: 100px;
}
.img-2 {
    width: 550px;
    position: absolute;
    top: -60px;
    left: 730px;
    transition: .3s ease-out;
    animation: r1 3s ease-in-out;
}
.img-2:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 10px rgb(255, 183, 10));
}
.b2 {
    position: relative;
    left: 100px;
    top: 80px;
    transform: scale(0.9);
}
#t2 {
    color: rgb(255, 183, 10);
    font-size: 80px;
    text-shadow: 0px 0px 10px rgb(255, 183, 10);
    animation: r2 3s ease-in-out;
}
#t3 {
    width: 600px;
    font-size: 30px;
    color: rgb(255, 183, 10);
    text-shadow: 0px 0px 10px rgb(255, 183, 10);
    animation: r3 3s ease-in-out;
}
.button-1 {
    padding: 15px 60px;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(255, 183, 10);
    background-color: rgb(255, 183, 10);
    color: white;
    position: absolute;
    left: 360px;
    transition: .3s ease-in-out;
    animation: r4 3s ease-in-out;
}
.button-1:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 10px rgb(255, 183, 10));
}
.button-1:active {
    transform: scale(1.2);
}
@keyframes r1 {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes r2 {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes r3 {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes r4 {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
    }
}